.header {
  background-color: rgb(236, 246, 251);
  padding: 15px 0;

  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
}

.header__inner {
  display: flex;
  align-items: center;
}

.header__btn {
  color: white;
  background-color: $brand-color;
  border: none;

  padding: 12px 28px;

  border-radius: 5px;
  cursor: pointer;

  box-shadow: transparent;

  transition: box-shadow 0.4s;

  &:hover {
    box-shadow: 0 5px 10px rgba(146, 211, 255, 0.5);

  }
}
