.hero {
  background-color: rgb(236, 246, 251);
}
.hero__items {
  display: flex;
  align-items: center;
}
.hero__item {
}

.hero__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.5;

  color: $title;

  max-width: 482px;

  margin-bottom: 31px;
}

.hero__title-accent {
  color: $brand-color;
}

.hero__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;

  color: $text-accent;
  max-width: 460px;

  margin-bottom: 50px;
}

.form {
  display: inline-flex;
  align-items: center;

  border-radius: 8px;

  padding: 13px;
  background-color: $white;
}

.form__input {
  display: inline-block;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.8;

  padding: 17px 30px;
  border: none;

  border-radius: 8px;

  max-width: 216px;
  width: 100%;

  margin-right: 19px;

  color: $text-accent;
  background-color: rgba(245, 246, 250, 0.52);

  transition: all .4s;

  &:hover{
    box-shadow: 0 5px 15px rgba(210, 210, 210, 0.5);
  }
}

.form__btn {
  display: inline-flex;

  background-color: $brand-color;
  border: none;
  border-radius: 8px;

  cursor: pointer;

  padding: 12px 19px;
  margin-left: 31px;

  &:hover{
    box-shadow: 0 5px 15px rgba(64, 163, 248, 0.5);
    transition: all .4s;
    ;
  }
}

.form__icon {
  transform: rotate(-5deg);

  transition: transform 0.4s;

  .form__btn:hover &{
    transform: scale(1.1);
  }
}
.hero__thumb {
}
.hero__img {
}
.hero__content {
}
.hero__info {
}
.hero__links {
}
.hero__icon {
}
.hero__hurt {
}
.hero__bio {
}
