$brand-color: rgba(64, 163, 248, 1);
$bcg-color:#E5E5E5;
$bcg-accent: linear-gradient(180deg, rgba(0, 158, 255, 0.1) 0%, rgba(56, 175, 255, 0.1) 100%);
$title: #3E3E3E;
$text: rgba(61, 61, 63, 0.7);
$text-accent: rgba(117, 117, 117, 0.46);
$white: #fff;


